*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(236, 163, 175), rgb(255, 228, 232));
}

.container{
    border:1px solid lightcoral;
    border-radius: 10px;
    padding: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 100%;
    max-width: 500px;
    height: auto;
    box-shadow: 0 0 5px 5px lightsalmon;
    position: relative;
}

.container .nav #left, .container .nav #menu{
    background: white;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    color: rgb(205, 108, 123);
    box-shadow: 0 0 5px 5px rgb(215, 166, 166);
}

.container .foot #like{
    padding: 8px;
    cursor: pointer;
    color: rgb(201, 81, 99);
    font-size: 30px;
    cursor: pointer;
}

.container .foot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .foot label{
    font-size: 20px;
    font-weight: 600;
    color:yellowgreen;
}
.container .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}


.container .song-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .song-details .thumbnail img{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    /* box-shadow: 0 0 5px 5px lightgoldenrodyellow; */
    margin-bottom: 10px;
}

.container .song-details .songname{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.audio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container .audio-player #range2{
    -webkit-appearance:none;
    width: 100%;
    height: 10px;
    background: rgb(251, 168, 219);
    border-radius: 4px;
    cursor: pointer;
}

.container .audio-player #range2::-webkit-slider-thumb{
    -webkit-appearance:none;
    background: rgb(222, 99, 172);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 0 5px 5px rgba(255,26,26,0.22);
}

.controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 20px;
}

.controls #fast-forward, .controls #fast-backward{
    color:rgb(215, 96, 182);
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
}

.controls #pause-play{
    color:white;
    cursor: pointer;
    background-color: rgb(215, 96, 182);
    padding: 10px;
    border-radius: 50%;
    font-size: 50px;
}

.playlist{
    position:absolute;
    width: 250px;
    height: auto;
    background: white;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 10px;
    top: 80px;
    right: 100px;
    /* overflow-y: auto; */
    /* transition: right 0.4s ease; */
    display: none;
}

.playlist.active{
    display: block;
}

.playlist ul{
    list-style: none;
    padding: 0;
}

.playlist li {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: #ffe6ef;
    border-radius: 8px;
}

.playlist li:hover {
    background: #ffb6d5;
}

/* #fav-playlist{
    top: 80px;
    right: 100px;
    display: none;
} */

.playlist li i {
    font-size: 18px;
    color: rgb(215, 96, 182);
}

.playlist li i:hover {
    transform: scale(1.2);
}

.time{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-weight: 600;
    color: rgb(215,96,182);
}

#shuffle{
    color: rgb(215,96,182);
    background: white;
    padding:10px;
    border-radius:50%;
    font-size:15px;
    cursor:pointer;
}

#shuffle.active{
    background: rgb(215,96,182);
    color:white;
}

/* glowing animation */
@keyframes musicGlow {

    0% {
        box-shadow: 0 0 5px 5px rgba(255,105,180,0.3);
        transform: scale(1);
    }

    50% {
        box-shadow: 0 0 25px 25px rgba(255,105,180,0.8);
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0 0 5px 5px rgba(255,105,180,0.3);
        transform: scale(1);
    }
}

/* default thumbnail */
.thumbnail img{
    transition: 0.3s ease;
}

.thumbnail img.paused{
    box-shadow: 0 0 5px 5px lightgoldenrodyellow;
}
/* animation when playing */
.thumbnail img.playing{
    animation: musicGlow 2s ease-in-out infinite;
}

#search-song{
    border-radius: 8px;
    font-size: 14px;
}


@media (max-width:550px){
    .container{
    border:1px solid lightcoral;
    border-radius: 10px;
    padding: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 100%;
    max-width: 350px;
    height: auto;
    box-shadow: 0 0 5px 5px lightsalmon;
    position: relative;
    }

    .container .song-details .songname h1{
        font-size: 30px;
    }
}

@media (max-width:400px){
    .container{
    border:1px solid lightcoral;
    border-radius: 10px;
    padding: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 100%;
    max-width: 230px;
    height: auto;
    box-shadow: 0 0 5px 5px lightsalmon;
    position: relative;
    }

    .container .song-details .songname h1{
        font-size: 15px;
    }

    .container .song-details .songname h4{
        font-size: 10px;
    }

    .container .foot label{
    font-size: 15px;
    font-weight: 600;
    color:yellowgreen;
    }

    .controls #fast-forward, .controls #fast-backward{
    color:rgb(215, 96, 182);
    cursor: pointer;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
    }

    .controls #pause-play{
    color:white;
    cursor: pointer;
    background-color: rgb(215, 96, 182);
    padding: 8px;
    border-radius: 50%;
    font-size: 30px;
    }

    #shuffle{
    color: rgb(215,96,182);
    background: white;
    padding:8px;
    border-radius:50%;
    font-size:10px;
    cursor:pointer;
    }
}

    @media (max-width:250px){
    .container{
    border:1px solid lightcoral;
    border-radius: 10px;
    padding: 15px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    width: 100%;
    max-width: 180px;
    height: auto;
    box-shadow: 0 0 5px 5px lightsalmon;
    position: relative;
    }

    .container .song-details .songname h1{
        font-size: 10px;
    }

    .container .song-details .songname h4{
        font-size: 8px;
    }

    .container .foot label{
    font-size: 10px;
    font-weight: 600;
    color:yellowgreen;
    }

    .controls #fast-forward, .controls #fast-backward{
    color:rgb(215, 96, 182);
    cursor: pointer;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 15px;
    }

    .controls #pause-play{
    color:white;
    cursor: pointer;
    background-color: rgb(215, 96, 182);
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    }

    #shuffle{
    color: rgb(215,96,182);
    background: white;
    padding:5px;
    border-radius:50%;
    font-size:px;
    cursor:pointer;
    }

    .container .song-details .thumbnail img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* box-shadow: 0 0 5px 5px lightgoldenrodyellow; */
    margin-bottom: 10px;
    }
}
